@tailwind base;
@tailwind components;
@tailwind utilities;

// Storybook styles
.sbdocs.sbdocs-content {
	overflow: auto;
	max-height: 90vh;
}

//:root {
//	--foreground-rgb: 0, 0, 0;
//	--background-rgb: 214, 219, 220;
//}
//
//@media (prefers-color-scheme: dark) {
//	:root {
//		--foreground-rgb: 255, 255, 255;
//		--background-rgb: 0, 0, 0;
//	}
//}

body {
	@apply text-base overflow-hidden;
	font-family: var(--font-zen), sans-serif;
	//color: #f4f4f4;
	//background-color: #0e0f0f;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 992px) {
		font-size: 14px;
	}
}

.animation-opacity {
	animation: opacity_anim 0.5s;
}

@keyframes opacity_anim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
